@model List<Insurance.Data.Models.Product>
@using Common;
@{
    var category = ViewBag.Category;
    var listCate = ViewBag.ListCategory;
    ViewBag.Title = "Các gói " + category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BANNER -->
<div class="section banner-page pages">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="title-page">Bảng giá</div>
                <ol class="breadcrumb">
                    <li><a href="#">@category.Name</a></li>
                    <li class="active">Bảng giá</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Page -->
<div class="section pricing-table section-border">
    <div class="container">
        <div class="row">

            <div class="col-sm-10 col-md-10">
                <h2 class="section-heading">
                    Các gói bảo hiểm của chúng tôi
                </h2>
                <p>Dưới đây là các gói @category.Name, hãy lựa chọn gói phù hợp với nhu cầu của bạn.</p>
                <div class="margin-bottom-70"></div>
            </div>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    string type = "";
                    if (item.ExpireType == 0)
                    {
                        type = "tháng";
                    }
                    if (item.ExpireType == 1)
                    {
                        type = "năm";
                    }
                <div class="col-sm-4 col-md-4">
                    <!-- ITEM 1 -->
                    <div class="panel panel-pricing">
                        <header class="panel-heading">
                            <h3>@item.Name</h3>
                            <div class="price">
                                @StringHelper.FormatCurrency(@item.Price)<small>/ @item.ExpireTime @type</small>
                            </div>
                        </header>
                        <div class="panel-body">
                            <p>@Html.Raw(@item.Description)</p>
                        </div>
                        <div class="panel-footer">
                            @if ((InsuranceOnline.Common.UserLogin)Session[CommonConstants.USER_SESSION] == null)
                            {
                                <a href="@Url.Action("Login","User", new {returnUrl = ViewBag.ReturnUrl})" class="btn btn-secondary">Mua ngay</a>
                            }
                            else
                            {
                                <a href="#" data-id="@item.ID" class="btn btn-secondary btnAddToCart">Mua ngay</a>
                            }
                        </div>
                    </div>
                </div>
                }
            }
            else
            {
                <div class="col-sm-12 col-md-12">Không có gói bảo hiểm nào.</div>
            }


        </div>

    </div>
</div>

<!-- AGENT -->
<div class="section testimony">
    <div class="container">
        <style>
            .box-image-1 .image img {
                width: 100%;
                height: 252px; /* Bạn có thể điều chỉnh chiều cao phù hợp */
                object-fit: cover; /* Đảm bảo hình ảnh sẽ được cắt để vừa với khung */
            }

            .box-image-1 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }

                .box-image-1 .image {
                    flex-grow: 1;
                }
        </style>
        <div class="row">
            <h3>Tham khảo các gói bảo hiểm khác</h3>
            @foreach (var item in listCate)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="box-image-1">
                        <div class="image">
                            <a href="/bao-hiem/@item.Alias-@item.ID" title="House Insurance"><img src="@item.Image" alt="" class="img-responsive"></a>
                        </div>
                        <div class="description">
                            <h3 class="blok-title">@item.Name</h3>
                            <a href="/bao-hiem/@item.Alias-@item.ID" title="GET A QUOTE" class="btn btn-secondary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

