@model PagedList.PagedList<Insurance.Data.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Sản phẩm
}

<div class="card mb-4">
    <div class="panel-body mt-3 ms-3">
        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            <div class="form-group">
                <div class="col-lg-12 d-flex">
                    <div class="col-md-4 me-2">
                        <input type="text" placeholder="từ khoá tìm kiếm..." value="@ViewBag.SearchString" class="form-control" name="searchString" />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success">Tìm kiếm</button>
                        <a class="btn btn-primary" href="/Admin/Product/Create">Thêm mới</a>
                    </div>
                </div>
            </div>
        }
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Danh mục</th>
                    <th>Giá</th>
                    <th>Thời gian bảo hiểm</th>
                    <th>Trạng thái</th>
                    <th>Hiển thị</th>
                    <th style="width: 10%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">
                        <td>@item.Name</td>
                        <td>@(item.ProductCategory != null ? item.ProductCategory.Name : "")</td>
                        <td>@item.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</td>
                        <td>
                            @if (item.ExpireType == 0)
                            {
                                @($"{item.ExpireTime} Tháng")
                            }
                            else if (item.ExpireType == 1)
                            {
                                @($"{item.ExpireTime} Năm")
                            }
                        </td>
                        <td>
                            @if (item.Status == true)
                            {
                                <span class="badge bg-success">Kích hoạt</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Khoá</span>
                            }
                        </td>
                        <td>
                            @if (item.HomeFlag == true)
                            {
                                <span class="badge bg-success">Hiển thị</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Ẩn</span>
                            }
                        </td>
                        <td>
                            <a class="text-warning" href="/Admin/Product/Edit/@item.ID"><i class="fas fa-pencil-alt"></i></a>
                            |
                            <a class="text-danger deleteBtn" href="#" data-id="@item.ID"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>

<script>
    $('.deleteBtn').on('click', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        if (confirm('Bạn có chắc chắn muốn xóa không?')) {
            $.ajax({
                url: '/Admin/Product/Delete/' + id,
                type: 'POST',
                success: function (data) {
                    $('#row_' + id).remove();
                    //cập nhật lại trang
                    location.reload();
                }
            });
        }
    });
</script>