@model List<Insurance.Data.Models.OrderDetail>
@{
    ViewBag.Title = "Detail";
    var productQuantities = ViewBag.ProductQuantities as List<dynamic>;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int? lastOrderId = null;
}

@section header{
    Chi tiết đơn hàng, Mã: @Model.FirstOrDefault().OrderID
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Tên sản phẩm</th>
            <th>Giá tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(m => m.OrderID))
        {
            if (lastOrderId != item.OrderID)
            {
                <tr>
                    <td>@item.OrderID</td>
                    <td>@item.Product.Name</td>
                    <td>@(Common.StringHelper.FormatCurrency(item.Product.Price))</td>
                </tr>
                lastOrderId = item.OrderID;
            }
            else
            {

                <tr>
                    <td></td>
                    <td>@item.Product.Name</td>
                    <td>@(Common.StringHelper.FormatCurrency(item.Product.Price))</td>
                </tr>
            }
        }
    </tbody>
</table>